// COLORS
$primary-color: #fdb26f;
$secondary-color: #ffeda5;

$white-color: #fff;

$dark-grey: #5F6366;

$dark-blue-text: #f78888; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

/* purple color palette 
// COLORS
$primary-color: #a677e4;
$secondary-color: #a677e4;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f8f1ff;

$dark-grey: #534d56;

$dark-blue-text: #656176; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
*/

// $primary-color: #47C1BF;
// $secondary-color: #47C1BF;

// $white-color: #f4f5fa;

// $dark-grey: #003135;

// $dark-blue-text: #00848E; // For Headings

//SO FAR THE BEST ONE -- ORANGE AND PINK:
// $primary-color: #F5CCB4;
// $secondary-color: #F5CCB4;
// // 3CB2CD
// $white-color: #fff;

// $dark-grey: #EEA5A6;

// $dark-blue-text: #EEA5A6; // For Headings

//PINK, YELLOW, AND ORANGE COLOR PALETTE
// // COLORS
// $primary-color: #fdb26f;
// $secondary-color: #ffeda5;
// // 3CB2CD
// $white-color: #fff;

// $dark-grey: #534d56;

// $dark-blue-text: #f78888; // For Headings
// // dd865b
// // FONT SIZE
// $default-font-size: 1.6rem;
// $big-font-size: 4rem;
// $mid-font-size: 2.5rem;